<%- include("includes/head.ejs") %>
  <body>
    <aside>
      <nav id="navbar">
        <header><h1 id="howToTitle">How to Make Glazed Doughnuts</h1></header>

        <ul id="index">
          <li><a href="#introduction" class="nav-link">Introduction</a></li>
          <li>
            <a href="#what_you_should_already_know" class="nav-link">
              What You Should Already Know
            </a>
          </li>
          <li>
            <a href="#doughnuts_and_donuts" class="nav-link"
              >Doughnuts and Donuts</a
            >
          </li>

          <li><a href="#hello_world" class="nav-link">Hello World</a></li>
          <li><a href="#ingredients" class="nav-link">Ingredients</a></li>
          <li><a href="#mixing,_mixer" class="nav-link">Mixing, Mixer</a></li>
          <li><a href="#proofing" class="nav-link">Proofing</a></li>
          <li>
            <a href="#rolling_and_cutting" class="nav-link"
              >Rolling and Cutting</a
            >
          </li>
          <li><a href="#proofer" class="nav-link">Proofer</a></li>
          <li><a href="#glaze" class="nav-link">Glaze</a></li>
          <li><a href="#fryer" class="nav-link">Fryer</a></li>
          <li><a href="#glazing" class="nav-link">Glazing</a></li>
          <li><a href="#cooling" class="nav-link">Cooling</a></li>
          <li><a href="#conclusion" class="nav-link">Conclusion</a></li>
          <li><a href="#reference" class="nav-link">Reference</a></li>
        </ul>
      </nav>
    </aside>
    <main id="main-doc">
      <section class="main-section" id="introduction">
        <header><h2>Introduction</h2></header>
        <p>
          Is it “doughnuts” or “donuts”? Why can’t it be both? What’s wrong with
          saying things twice? It’s not a studder or a correction, it’s a
          completion. As early as a cook on a ship fried together a doughy mix
          and stabbed them in the middle like a kabab to cool down to the modern
          day sprinkled perfection; doughnuts and donuts have become an American
          staple. For the sake of this technical document, I’ll pick doughnuts.
          And not all doughnuts have holes in the middle. Those are called
          “filled” or “Bismark” doughnuts. And sometimes doughnuts can be the
          hole in the middle. Those are usually called doughnut holes. There are
          also bullseyes/pie doughnuts.
        </p>
        <p>
          The doughnuts with a hole in the middle, must have a name – yes, they
          do – they’re called ring doughnuts. One thing is for sure, doughnuts
          are always fried.
        </p>
        <ul class="indent-one">
          <li>
            <span class="bold">Can I have a Yeast-rise doughnut?”</span>
            <br />
            <br />Yeast-rise doughnut could mean a number of things like ring,
            <br />
            filled or hole. Although they’re different doughnuts, they usually
            <br />

            have to same base. Dairy liquid and an all-purpose flour mix. The
            <br />

            flour usually includes yeast – which is where the “yeast rise” comes
            <br />
            from.
            <br />
            <br />
          </li>
          <li>
            <span class="bold">“I’ll take a Cake doughnut.”</span>
            <br />
            <br />
            Is a vague request. A cake doughnut can also be a number of options
            <br />like the classic Old-Fashion, a simple cake doughnut or even a
            hole <br />doughnut. They usually have to same dairy base as Yeast
            doughnuts <br />with a different type of flour. Cake flour. Yes,
            almost like having a <br />personal pan cake at your disposal. Many
            cake doughnuts also have <br />

            yeast.
          </li>
        </ul>
        <p>
          This technical document will go over one type of doughnut making; a
          glazed yeast rise doughnut with a dairy base. This document will also
          be mindful of important differences of some processes.
        </p>
        <img
          src="images/glazed-doughnut-on-plate.jpeg"
          alt="distric-doughnut-glazed-dougnut"
          id="image1"
        />
      </section>
      <section class="main-section" id="what_you_should_already_know">
        <header>
          <h2>What You Should Already Know</h2>
        </header>
        <p>
          Doughnut eating is risky. With a lot of sugar per serving, each
          serving add up quickly. This means the user must choose wisely. In
          order to do so, the user should know what they’re reaching for peak
          satisfaction.
        </p>
        <ul class="indent-two">
          <li>Soft, fluffy</li>
          <li>Thick, heavy</li>
          <li>Quick sugar fix</li>
        </ul>
      </section>
      <section class="main-section" id="doughnuts_and_donuts">
        <header><h2>Doughnuts and Donuts</h2></header>
        <p>
          Essentially the same thing; they’re not. Doughnuts are usually an
          artisan breakfast dessert where everything is made from scratch.
          Everything; from measuring out and pouring the yeast into the dry mix
          to making the pastry crème or caramel from corn starch and corn syrup.
        </p>
        <p>
          While donuts are typically store bought and premade products that come
          together and give the customer an illusion of a handcrafted product.
          Or a kitchen may be understaffed and overburdened, these ingredients
          become very useful in making an old world, franchise consistency
          donut.
        </p>
      </section>
      <section class="main-section" id="hello_world">
        <header><h2>Hello World</h2></header>
        <p>
          To get started making doughnuts one will need to gather all the
          ingredients. Prepare themselves for a lot of lifting. Organize
          thyself, thy movements and space. Memorize, take notes and repeat.
        </p>
        <p>Keep a positive attitude and watch the product upfold.</p>
      </section>
      <section class="main-section" id="ingredients">
        <header><h2>Ingredients</h2></header>
        <ul>
          <li>All-purpose flour</li>
          <li>Water</li>
          <li>Eggs</li>
          <li>Yeast</li>
          <li>Baking powder</li>
          <li>Baking soda</li>
          <li>Granulated sugar</li>
          <li>Milk</li>
          <li>Salt</li>
          <li>Vanilla paste</li>
          <li>Shortening</li>
          <li>Vanilla extract</li>
          <li>Confectioner sugar</li>
          <li>Mixer</li>
          <li>Plastic bins with lids</li>
          <li>Scale</li>
          <li>Proofer</li>
          <li>Rolling pin</li>
          <li>Buscuit cutter</li>
          <li>Fryer</li>
          <li>Oil</li>
          <li>Sheet trays</li>
        </ul>
      </section>
      <section class="main-section" id="mixing,_mixer">
        <header><h2>Mixing, Mixer</h2></header>
        <p>
          Once all the ingredients are organized together, mix appropriately.
          The type of mixer you have will control the order each ingredient is
          combined and amount that is mixed at once. Some kitchens will activate
          the yeast before mixing, the most important key is to stay mindful of
          yeast and salt.
        </p>
        <p>
          Combine all ingredients. Start by adding the liquids first. Then
          combine the dry ingredients. The mixer should start for a short period
          of time in a slow speed mix the dough evenly. After the slow mix,
          allow the dough to sit briefly. Once combined increase the speed and
          time of mixer. This will fully combine the dough. The dough will
          remind you that it is fully combined by popping. Air bubbles will
          start forming and the mixer paddle will slip through the dough. Allow
          dough to sit again.
        </p>
      </section>
      <section class="main-section" id="proofing">
        <header><h2>Proofing</h2></header>
        <p>
          Cutting and scaling allows you to prepare doughnuts to proof evenly.
          This will be the first step of proofing. Your mixer will be full of
          dough that is ready to start expanding on it’s own. Quickly cut and
          evenly measure out your dough in the bins and put the lids on.
        </p>
        <p>
          This proofing process should take four to five hours. When the dough
          expands and begins pushing the lid of your bins open, they’re ready.
          Knead dough in even bin and allow dough to expand once more.
        </p>
        <p>The dough is ready to be rolled and cut.</p>
      </section>
      <section class="main-section" id="rolling_and_cutting">
        <header><h2>Rolling and Cutting</h2></header>
        <p>
          Not every kitchen uses rollers. Some kitchens roll their dough with
          machines. Each bin has a slab of dough that has proofed twice now.
          Roll each slab out with a roller. The slabs should be evenly rolled in
          the process of giving the doughnuts consistency.
        </p>
        <p>
          Once rolled, cut rolled dough evenly to yield the most amount of
          doughnuts per stab. A biscuit cutter will give the doughnut its first
          cut. A second cut will need to be had in the middle of the doughnut to
          give it its ring shape. Doughnut holes can be used with the scrap
          dough this will leave. Skip this step if you are making Bismark
          doughnuts. Evenly place each doughnut on sheet trays.
        </p>
        <img
          src="images/uncooked-doughnuts-on-tray.jpeg"
          alt="district-doughnut-roll-cut"
        />
      </section>
      <section class="main-section" id="proofer">
        <header><h2>Proofer</h2></header>
        <p>
          Set proofer to 34% humidity and a temperature of 100 degrees. Place
          each sheet try in your proofer and allow to sit for an hour. Doughnuts
          will rise and take shape. Flour will also begin to show prominence on
          each doughnut. The Bismark doughnuts may take longer. Poking the
          Bismark with a fork will show that it is sturdy and show the doughnut
          ready to be fried.
        </p>
        <img
          src="images/uncooked-doughnuts-proofing.jpeg"
          alt="district-doughnut-proofer"
        />
      </section>
      <section class="main-section" id="glaze">
        <header><h2>Glaze</h2></header>
        <p>
          What type of doughnut are you making? Glazed? Frosted? Some kitchens
          will call everything glaze, yet the final product may not reflect
          such. The glaze should be ready and prepared before frying.
        </p>
        <p>
          The glaze is not easy. Be mindful of the paddle. First, add
          confectioners’ sugar. Then add the vanilla paste to the confectioners’
          sugar. Begin slowly mixing confectioners’ sugar. Mix the milk and
          vanilla extract together and slowly pour milk mixture to sugar. Once
          together, turn up mixer speed for 10 minutes. Add glaze to bin and
          store.
        </p>
      </section>
      <section class="main-section" id="fryer">
        <header><h2>Fryer</h2></header>
        <p>
          The fryer should be ready for doughnuts to be dropped. 350 to 400
          degrees is a good starting point. The can either be industry size or a
          pot on a heating pad. The most important part of frying is keeping the
          heat of the oil consistent to yield consistency in each doughnut.
        </p>
        <p>
          Doughnuts cook fast. Once dropped, the doughnut will dip into oil and
          float back to the top. If doughnut sinks to the bottom check baking
          powder and baking soda. Fry time will take less than 2 minutes to cook
          on one side. Flip doughnuts fast to once again yield consistency.
          Remove all doughnuts as close to the same time as humanly possible.
          This will once again yield consistency.
        </p>
      </section>
      <section class="main-section" id="glazing">
        <header><h2>Glazing</h2></header>
        <p>
          The doughnut should be warm when it comes in contact with the glaze to
          yield a thin layer of glaze over the doughnut. Repeat process until
          desired amount of doughnuts are glazed.
        </p>
      </section>
      <section class="main-section" id="cooling">
        <header><h2>Cooling</h2></header>
        <p>Doughnut can be served warm or cool.</p>
        <img
          src="images/glazed-doughnut.jpeg"
          alt="district-doughnut-glazed-doughnut-sideview"
        />
      </section>
      <section class="main-section" id="conclusion">
        <header><h2>Conclusion</h2></header>
        <p>
          Making doughnuts is just that – making doughnuts. Making doughnuts is
          not baking. Making doughnuts is also not fry cooking. Making doughnuts
          it is it’s own craft. Making doughnuts is making doughnuts.
        </p>
      </section>
      <section class="main-section" id="reference">
        <header><h2>Reference</h2></header>
        <p>
          This technical document was created using first-hand experience(s) by
          mr. doughnut (donut)
        </p>
      </section>
      <!-- <br />
      <hr />
      <br />
      <br />
      <p class="email-finish">mr.doughnut.donut@gmail.com</p>
      <br /> -->
      <hr />
    </main>
  </body>
</html>
