body {
  font-family: "Stack Sans Text", sans-serif;
  font-size: 1.15rem;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-right: 50px;
}

li {
  list-style: none;
}

a:hover {
  background-color: black;
  color: white;
}

a {
  color: black;
  text-decoration: none;
  /* text-shadow: 0px 1px 1px rgb(45, 45, 45); */
}

a.active {
  color: white;
}

img {
  padding-top: 4.30rem;
  display: block;
  margin: auto;
  width: 30vw;
}

#order {
  text-align: center;
}

#howToTitle {
  text-align: center;
}

.center {
  text-align: center;
  margin-top: 150px;
}

.btn {
  border: black, solid 2px;
  border-radius: 10px;
  padding: 5px;
}
