#nav-bar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-right: 50px;
}

a {
  color: black;
  text-decoration: none;
}

a.active {
  color: white;
}

img {
  display: block;
  margin: auto;
  width: 30vw;
}

#order {
  text-align: center;
}

#howToTitle {
  text-align: center;
}

.center { 
  text-align: center;
  margin-top: 150px;
}

.btn {
  border: black, solid 2px;
  border-radius: 10px; 
  padding: 5px;
}